:root {
    --blue: #0d1014;
    --indigo: #000000;
    --purple: #000000;
    --pink: #000000;
    --red: #000000;
    --orange: #000000;
    --yellow: #000000;
    --green: #000000;
    --teal: #000000;
    --cyan: rgb(0, 0, 0);
    --white: #ffffff;
    --gray: #000000;
    --gray-dark: #000000;
    --primary: #000000;
    --secondary: #000000;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #c2c2c2;
    --lightgray: #eeeeee;
    --dark: #434242;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* Font Sizes */
    --font-normal: 1em;
    --font-small: 0.8125rem;
    /* Sidebar */
    --sidebar-width: 280px;
    --content-max-width: 860px;
}
/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000; /* Example background color */
}

.menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-items {
    display: none; /* This is for the menu items to be hidden initially */
}

@media (max-width: 768px) {
    .menu-items {
        display: none; /* Hide the menu items on smaller screens */
    }
}

/*DARKMODE SWITCH*/

/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: #b80a0a;
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    line-height: 1.15;
}
body {
    color: var(--secondary);
    overflow-x: hidden
}
a{
    color: var(--pink);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--gray-dark);
    font-weight: bold
}

.btn {
    font-weight: bold;
    padding: .375rem 1rem;
    height: 2.75rem;
    transition: all 0.4s ease-in-out
}


.btn:focus,
.btn.focus {
    box-shadow: none !important
}

.btn-primary {
    color: #fff
}

.form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    height: 2.75rem;
    border-color: var(--light)
}

.theme-bg-light {
    background: var(--light) !important
}

.theme-bg-dark {
    background: var(--dark) !important
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--primary);
    color: #fff
}
.header .site-title {
    color:var(--white);
    font-size:1.2em;
    display:block;
}

.header .btn-primary {
    background: rgba(255, 255, 255, 0.3);
    border-color: transparent;
    font-size: 1rem;
    padding-top: 0.5rem
}

.header .btn-primary:hover {
    background: rgba(211, 200, 200, 0.4);
    border-color: transparent
}

.header .navbar {
    padding: 2rem 1rem
}

.header .navbar-dark .navbar-toggler {
    border: none;
    padding: .25rem .6rem
}

.header .navbar-dark .navbar-toggler:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header .nav-item {
    font-weight: bold
}

.header .nav-item.active .nav-link {
    color: rgba(255, 255, 255, 0.5)
}

.header .nav-item.active .nav-link:hover {
    text-decoration: none
}

.header .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8)
}

.header .nav-item .nav-link:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255)
}
.logo{
    width:78px;
}
.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background-color: #cccaca
}

.social-list a:hover {
    color: var(--secondary);
    background-color: rgba(255, 255, 255, 0.8)
}

.main-wrapper {
    margin-left: var(--sidebar-width);
    background: #fff;
}

.main-wrapper .container {
    max-width: var(--content-max-width);
}
.page-title {
    position:sticky;
    top:0;
    z-index:9999;
    transition:all .2s;
}
.sticky{
    padding:1em 0 !important;
}
.page-title .heading {
    font-size: 2rem;
    font-weight: bold;
    color:white;
}

.footer {
    color: rgba(255, 255, 255, 0.7)
}

.footer a {
    color: #fff
}
.gradient{
    background: rgb(43,43,43);
    background: linear-gradient(151deg, var(--orange) 0%, var(--pink) 35%,var(--primary) 100%) !important;
}
.content .post .title {
    font-size: 1.275rem
}

.content .post .title a {
    color: var(--gray-dark)
}

.content .post .title a:hover {
    color: var(--gray-dark)
}

.content .post .post-thumb {
    max-width: 160px;
    border-radius: 2px
}

.content .post .intro {
    font-size: 0.875rem
}

.content .post .more-link {
    font-size: var(--font-small);
}

.meta {
    color: #8f8f8f;
    font-size: var(--font-small);
}

.meta span {
    display: inline-block;
    margin-right:.25em;
}

.meta span a {
    color: #8f8f8f
}
.meta span.tag {
    background-color: var(--lightgray);
    padding:0 .5em;
    border-radius:5px;
}
.meta span a:hover {
    color: var(--secondary)
}



.meta span:last-child:after {
    display: none
}

.blog-nav .nav-link {
    background: var(--primary);
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
    position: relative
}

.blog-nav .nav-link:hover {
    background: var(--secondary);
}

.blog-nav .nav-link-prev {
    border-right: 1px solid var(--secondary);
}

.blog-nav .arrow-prev {
    position: absolute;
    left: 1rem;
    top: 1.25rem;
    color: #fff
}

.blog-nav .arrow-next {
    position: absolute;
    right: 1rem;
    top: 1.25rem;
    color: #fff
}

.content .title {
    font-weight: bold;
    font-size: 2rem
}

.content .content-body p,
.content .content-body li {
    font-size: 1.125rem;
    line-height: 1.6
}

.content .content-body h1 {
    font-size: 2.125rem
}

.content .content-body h2 {
    font-size: 2rem
}

.content .content-body h3 {
    font-size: 1.75rem
}

.content .content-body h4 {
    font-size: 1.5rem
}

.content .content-body h5 {
    font-size: 1.25rem
}

.content .content-body h6 {
    font-size: 1.125rem
}

.content .image-caption {
    color: #8f8f8f;
    font-size: 0.875rem
}

.content .image-caption a {
    color: #8f8f8f;
    text-decoration: underline
}

.content .image-caption a:hover {
    color: var(--secondary)
}

.content .blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
    border-left: 2px solid var(--gray-dark);
    font-size: 1.5rem
}

.content .blockquote p {
    font-size: 1.5rem
}

@media (prefers-reduced-motion: reduce) {
    .social-list a {
        transition: none
    }
    .btn {
        transition: none
    }
}

@media (min-width: 768px) {
   
    
}

@media (max-width: 991.98px) {
    .page-title {
        position:static;
    }
    .header {
        position: sticky;
        width: inherit;
        height: auto
    }

    .header .site-title {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem;
        color:var(--white);
        font-size:1.5em;
        display:block;
    }

    .header .btn-primary {
        width: 100%
    }

    .header .navbar {
        padding: 1rem
    }

    .main-wrapper {
        margin-left: 0
    }
}

@media (max-width: 767.98px) {
    
}

/*-----------------CALCULATOR--------------------*/


.calculator {
    background-color: #0e0d0d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.479);
    padding: 16px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 16px;
    text-align: right;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}



/* MEAL PLANNER FORM */

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, #000000, #000000);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: form-animation 0.5s ease-in-out;
  }
  
  @keyframes form-animation {
    from {
      transform: rotateX(-30deg);
      opacity: 0;
    }
  
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .input {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color: rgb(255, 255, 255);
    border: 2px solid #b80a0a;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .input::placeholder {
    color: #fff;
  }
  
  .input:hover,
  .input:focus {
    border-color: #b80a0a;
    background-color: rgba(224, 221, 221, 0.2);
    transform: scale(1.05) rotateY(20deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #b80a0a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  

/*--------------------MEAL PLANNER-------------------*/

#meal-planner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #nutritional-analysis {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }

/*--------------------FOOD ITEM FORM-------------------*/

.foodInput {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.foodInput:hover,
.foodInput:focus {
  border: 2px solid #b80a0a;
  box-shadow: 0px 0px 0px 7px rgba(228, 53, 53, 0.2);
  background-color: white;
}

.portionInput {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .portionInput:hover,
  .portionInput:focus {
    border: 2px solid #b80a0a;
    box-shadow: 0px 0px 0px 7px rgba(228, 53, 53, 0.2);
    background-color: white;
  }

/*----------------NUTRITON FACTS----------------*/

.nutritionlabel {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutritionlabel {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #b80a0a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b80a0a;
}

#nutritionLabel {
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: white;
    margin-top: 20px;
}

#nutritionLabel h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#nutritionLabel .line {
    border-bottom: 1px solid black;
    margin: 5px 0;
}

#nutritionLabel div {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 5px 0;
}

#nutritionLabel div span:first-child {
    font-weight: bold;
}

#chartContainer {
    margin-top: 20px;
}




/*---------------------SUBSCRIBE BUTTON--------------------*/

button1 {
    border: none;
    display: block;
    position: relative;
    padding: 1.0em 2.0em;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(255, 255, 255);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }
  
  button1 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #b80a0a;
  }
  
  button1 span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  button1:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #b80a0a;
  }
  
  button1:hover {
    color: #000000;
  }
  
  button1:active span::before {
    background: #990505;
  }    

/* -------------------------------------------------------------------------- */
/*	12. Comments
/* -------------------------------------------------------------------------- */


/* Comment Headers ----------------------------- */

.comments-wrapper {
	margin-top: 3rem;
}

.comment-reply-title {
	margin: 0 0 4rem 0;
	text-align: center;
}


/* Comment Item ----------------------------- */

/* COMMENT HEADER */

.comments .comment,
.comments .pingback,
.comments .trackback,
.comments .review {
	padding-top: 3.5rem;
}

div.comment:first-of-type {
	margin-top: 3.5rem;
	padding-top: 0;
}

.comments .comments-header + div {
	margin-top: 0;
	padding-top: 0;
}

.comment-body {
	position: relative;
}

.comment .comment {
	padding-left: 5%;
}

.comment-meta {
	line-height: 1.1;
	margin-bottom: 0;
	min-height: 5rem;
	padding-left: 5rem;
	position: relative;
}

.hide-avatars .comment-meta {
	min-height: 0;
	padding-left: 0;
}

.comment-meta a {
	color: inherit;
}

.comment-author {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.027777778em;
}

.comment-author a {
	text-decoration: underline;
}

.comment-author a:hover,
.comment-author a:focus {
	text-decoration: none;
}

.comment-meta .avatar {
	height: 4rem;
	position: absolute;
	left: 0;
	top: 0;
	width: 4rem;
}

.comment-author .url {
	text-decoration: underline;
}

.comment-metadata {
	color: var(--gray);
	font-size: var(--font-small);
	font-weight: 500;
	margin-top: 0.6rem;
}

.comment-metadata a {
	text-decoration: none;
}

.comment-metadata a:focus,
.comment-metadata a:hover {
	text-decoration: underline;
}


/* COMMENT CONTENT */

.comment-content.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 100%;
    background-color:var(--lightgray);
    padding:.5em;
}

.comment-content.entry-content .alignleft {

	/*rtl:ignore*/
	margin-left: 0;
}

.comment-content.entry-content .alignright {

	/*rtl:ignore*/
	margin-right: 0;
}

/* COMMENT FOOTER */

.comment-footer-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-small);
	font-weight: 600;
	justify-content: flex-start;
	letter-spacing: 0.030833333em;
	line-height: 1;
	margin: 1.5rem 0 -1rem -1.5rem;
	text-transform: uppercase;
}

.comment-footer-meta > * {
	margin: 0 0 1rem 1.5rem;
}

.comment-reply-link {
    background-color: var(--primary);
    border-radius:2px;
	color: #fff;
	display: block;
	padding: 0.7rem;
}

.bypostauthor .comment-footer-meta .by-post-author {
	display: block;
}

.comment-footer-meta a {
	text-decoration: none;
}

.comment-footer-meta a:focus,
.comment-footer-meta a:hover {
	text-decoration: underline;
}


/* Pingbacks & Trackbacks ------------------------- */

.pingback .comment-meta,
.trackback .comment-meta {
	padding-left: 0;
}


/* Comments Pagination ---------------------------- */

.comments-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 6rem;
	text-align: center;
}

.comments-pagination.only-next {
	justify-content: flex-end;
}

.comments-pagination .page-numbers {
	display: none;
	text-decoration: none;
}

.comments-pagination .page-numbers:focus,
.comments-pagination .page-numbers:hover {
	text-decoration: underline;
}

.comments-pagination .prev,
.comments-pagination .next {
	display: block;
}

.comments-pagination .prev {
	left: 0;
}

.comments-pagination .next {
	right: 0;
	text-align: right;
}


/* Comment Respond ---------------------------- */

.comment-respond::after {
	clear: both;
	content: "";
	display: block;
}

.comment-respond .comment-notes,
.comment-respond .logged-in-as {
	color: #6d6d6d;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: -3rem 0 4rem 0;
	text-align: center;
}

.comment-respond .comment-notes a,
.comment-respond .logged-in-as a {
	color: inherit;
	text-decoration: none;
}

.comment-respond .comment-notes a:focus,
.comment-respond .comment-notes a:hover,
.comment-respond .logged-in-as a:focus,
.comment-respond .logged-in-as a:hover {
	text-decoration: underline;
}

.comment-respond p {
	line-height: 1.1;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.comment-respond p:not(.comment-notes) {
	max-width: 58rem;
}

.comment-form-cookies-consent {
	align-items: baseline;
	display: flex;
}

.comment-respond > p:last-of-type {
	margin-bottom: 0;
}

.comment-respond label {
	display: block;
}

.comment-respond input[type="checkbox"] + label {
	font-size: 1.5rem;
	line-height: 1.25;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond textarea {
	margin-bottom: 0;
}

.comment-respond textarea {
	height: 15rem;
}

.comment-respond #submit {
	display: block;
}

.comment-respond .comments-closed {
	text-align: center;
}


/* Reply Respond ---------------------------- */

.comments .comment-respond {
	padding: 3rem 0 0;
}

.comments .comment-respond .comment-reply-title,
.comments .comment-respond .comment-notes,
.comments .comment-respond .logged-in-as {
	text-align: left;
}

.comment-reply-title small {
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -0.0277em;
	margin: 0.5rem 0 0 0;
	white-space: nowrap;
}

.comment-reply-title small a {
	text-decoration: none;
}

.comment-reply-title small a:focus,
.comment-reply-title small a:hover {
	text-decoration: underline;
}
